
.footer {
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #283747;
}

.footer .top {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  z-index: 2;
  padding: 5rem 0 2rem 0;
}

.logo-footer {
  width: 100%;
  text-align: center;
  margin: auto;
}

.logo-footer img {
  width: 50%;  
}

.logo-footer a {
  font-size: 14px;
  color: white;
}



.footer h2 {
  font-size: 2rem;
}

.column-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.column {
  width: 100%;
}


.footer h3 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 1rem;
}


.footer p {
  color: white;
  text-align: center;

}

.copyright p {
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 1rem;
  color: white;
}




.certification a:hover {
  text-align: center;
  color: rgb(10, 208, 235);
}


@media screen and (max-width: 940px) {
  
  .top {
      flex-wrap: wrap;
  }
  
  .logo-footer img {
    width: 20%;  
  }
  

  .column {
    width: 40%;
  }
  


}


@media screen and (max-width: 700px) {
  .logo-footer img {
    width: 40%;  
  }

  .column {
    width: 80%;
  }
  

}